@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    /* Colors */

    /* Primary */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    /* Neutral */
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

    font-size: 62.5%;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* HEADER */
header {
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
}

#logo {
    margin: 10px;
    height: 20px;
}

/* CONTAINER */
.container {
    width: 90vw;
    margin: auto;
    background: var(--off-white);
}

/* HERO / MAIN */
.hero-content picture img {
    width: 100%;
    grid-area: img;
}

.hero-articles {
    display: flex;
    flex-direction: column;
    grid-area: text;
}

.hero-articles h1 {
    padding: 10px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 4rem;
    line-height: 3.8rem;
    color: var(--very-dark-blue);
}

.hero-articles p {
    padding: 10px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.1rem;
    color: var(--dark-grayish-blue);
    grid-area: text;
}

.hero-articles .hero-btn {
    display: block;
    margin: 15px 0px 50px 0px;
    padding: 10px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: .4rem;
    background: var(--soft-red);
    border: none;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: var(--very-dark-blue);
    transition: .2s;
}

/* ASIDE */
.hero-asides {
    background: var(--very-dark-blue);
    grid-area: new;
}

.hero-asides h1 {
    padding: 10px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: var(--soft-orange);
}

/* Hero cards */
.hero-asides .card-title {
    padding: 20px 0px 0px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--off-white);
    cursor: pointer;
}

.card-title:hover {
    color: var(--soft-orange);
}

.hero-asides .card-body {
    padding: 10px 10px 20px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.1rem;
    color: var(--dark-grayish-blue);
}

.hero-asides .divider {
    margin: auto;
    width: 90%;
    border-bottom: 0px solid var(--dark-grayish-blue);
}

/* Aside Cards */
.aside-cards {
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.card-image img {
    width: 30vw;
    padding-bottom: 40px;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.card-content .card-number {
    padding-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: var(--grayish-blue);
}

.card-title {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 3rem;
    cursor: pointer;
    color: var(--very-dark-blue);
}

.card-content .card-title:hover {
    color: var(--soft-red);
}

.card-body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--dark-grayish-blue);
}

@media (max-width: 600px) {

    /* BURGUER MENU */
    .burguer {
        width: 4rem;
        height: 1.5rem;
        position: fixed;
        z-index: 5;
        right: 2rem;
        top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

    }

    .show-menu .hamburger {
        right: 16rem;
    }

    .line {
        width: 100%;
        height: .2rem;
        padding: 1px;
        border-radius: 10px;
        background-color: var(--very-dark-blue);
        transition: transform .7s;
    }

    .show-menu #line1 {
        transform: rotate(50deg) translate(.5rem, .5rem);
        background-color: var(--very-dark-blue);
        box-shadow: none;
    }

    .show-menu #line2 {
        opacity: 0;
        visibility: hidden;
    }

    .show-menu #line3 {
        transform: rotate(-50deg) translate(.4rem, -.5rem);
        background-color: var(--very-dark-blue);
        box-shadow: none;
    }

    .sidebar {
        width: 20rem;
        height: 100vh;
        background: var(--off-white);
        box-shadow: 0px 9px 4px 0px rgb(0 0 0 / 58%);
        position: fixed;
        top: 0;
        right: -35rem;
        transition: all .8s;
    }

    .show-menu .sidebar {
        right: 0;
    }

    .menu {
        position: absolute;
        top: 40%;
        left: 30%;
        transform: translate(-50%, -50%);
    }

    .menu-item {
        margin-bottom: .5rem;
        padding: 15px;
    }

    .menu-link {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2rem;
        color: var(--very-dark-blue);
        transition: color .7s;
    }

    .menu-link:hover {
        color: var(--soft-red);
        transition: color .7s;
    }

}

@media (min-width: 601px) {
    header {
        align-items: center;
    }

    .menu {
        display: flex;
    }

    .menu-link {
        padding: 10px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: var(--very-dark-blue);
    }

    .menu-link:hover {
        color: var(--soft-red);
        transition: color .7s;
    }
}

@media (min-width: 992px) {
    .aside-cards {
        grid-template-rows: 0;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-image img {
        width: 10vw;
    }

    #logo {
        margin: 20px;
        height: 30px;
    }
}

@media (min-width: 1200px) {
    .hero-content {
        display: grid;
        height: 70vh;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "img new"
            "text new";
        column-gap: 40px;
        row-gap: 10px;
    }

    .hero-asides {
        height: 450px;
    }

    .hero-articles {
        flex-direction: row;
    }

    .hero-articles h1 {
        width: 300px;
        padding: 20px 0px;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 4.54rem;
        line-height: 4rem;
        color: var(--very-dark-blue);
    }

    .hero-articles p {
        width: 370px;
        padding: 20px 20px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 1.46rem;
        line-height: 2.1rem;
        color: var(--dark-grayish-blue);
    }

    .hero-articles .hero-btn {
        display: block;
    }

    /* Aside Cards */
    .aside-cards {
        margin: 0px;
    }
}

@media (min-width: 1440px) {
    .hero-asides {
        height: 463px;
    }

    .hero-articles {
        justify-content: space-between;
        gap: 100px;
    }

    .hero-articles>h1 {
        width: 300px;
        padding: 20px 0px;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 4.54rem;
        line-height: 4rem;
        color: var(--very-dark-blue);
    }

    .hero-articles>p {
        flex: 1 1 500px;
        width: 500px;
        padding: 20px 20px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 1.46rem;
        line-height: 2.1rem;
        color: var(--dark-grayish-blue);
    }

    .aside-cards {
        padding-top: 50px;
    }
}