@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    /* Colors */
    
    /* Primary */
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* Neutral */
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);

}

body {
    background: var(--Light-grayish-blue);
    font-family: 'Barlow Semi Condensed';
}

/* Container */
.container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 22% 23.5% 23%;
    grid-template-areas: 
    "c1 c2 c5"
    "c3 c4 c5";
    justify-content: center;
    column-gap: 35px;
    row-gap: 25px;
}

/* Cards */
.card {
    padding: 0px 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgba(70, 70, 70, 0.479);
    border-radius: 10px;
    text-align: start;
}

.card:nth-child(1), .card:nth-child(2), .card:nth-child(4) {
    color: var(--white);
}

.card:nth-child(3), .card:nth-child(5) {
    color: var(--very-dark-blackish-blue);
    background: var(--white);
    font-weight: 600;
}

.card:nth-child(1) {
    grid-area: c1;
    grid-column: span 2 / 2;
    background: var(--moderate-violet);
    z-index: 1;
}

.card:nth-child(2) {
    grid-area: c2;
    background: var(--very-dark-grayish-blue);
}

.card:nth-child(3) {
    grid-area: c3;
    grid-column: span 1 / -4;

}

.card:nth-child(4) {
    grid-area: c4;
    grid-column: span 2 / -2;
    background: var(--very-dark-blackish-blue);
}

.card:nth-child(5) {
    grid-area: c5;
}

.user-infos {
    display: flex;
    align-items: center;
    gap: 20px;
}
/* User profile image */
.user-image {
    border-radius: 50%;
    max-height: 30px;
}

.card:nth-child(1) .user-image {
    border: 2px solid hsl(263, 49%, 66%);
}

.card:nth-child(4) .user-image {
    border: 2px solid var(--moderate-violet);
}

.user-status {
    padding: 25px 0px;
    font-size: 1.3rem;
    line-height: 1.6rem;
    display: flex;
    flex-flow: nowrap column;
}

.user-comment {
    font-size: 1.3rem;
    color: var(--Light-gray);
}

.card-user-name {
    font-weight: 600;
}

.card-user-verify {
    display: block;
    color: var(--Light-gray);
}

.user-comment {
    padding: 25px 0px 25px 0px;
    color: rgba(184, 183, 183, 0.555)
}

.quot {
    padding-right: 105px;
    position: absolute;
    height: 39%;
    right: 0;
    z-index: -1;
}

@media (max-width: 425px) {
    .container {
        width: 90vw;
        display: flex;
        flex-direction: column;
    }

    .card {
        padding: 0px 38px;
    }

    .quot {
        padding-right: 25px;
        position: absolute;
        height: 26.5%;
        right: 0;
        z-index: -1;
    }
}