@charset "UTF-8";
@import url('variables.css');
@import url('medias.css');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;500;700;800&display=swap');

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
    width: 1440px;
    margin: auto;
}

.content header {
    display: flex;
    justify-content: space-between;
    padding: 38px 0px 0px 0px;
}

header img {
    height: 3rem;
}

main .main-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.main-middle {
    width: 457px;
    height: 359px;
    margin-top: 185px;
}

.main-middle h1 {
    width: 500px;
}

.main-middle p {
    padding: 40px 0px;
}

.main-content picture {
    
    position: absolute;
    top: -20rem;
    left: 88rem;
}

.cards-content {
    padding: 146px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 30px;
}

.card-main {
    padding: 88px 32px;
}

footer {
    width: 100%;
    background-color: var(--dark-blue);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 20px 40px;

}

.footer-content img {
    height: 3rem;
}