/* ================= *
*    Main            *
*  ================= */

.container { width: 90vw; margin: 0px auto; }

/* ================= *
*    Header          *
*  ================= */

.header-content {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 3.52rem;
    color: var(--color-2);
}

/* ================= *
*    Hero            *
*  ================= */

.hero {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
}
.hero-image-content { height: 410px; padding: 26px 0px; }
.main-image { z-index: 0; }
.hero-title { padding: 38px 0px 26px 0px; }
.hero-subtitle { padding: 0px 0px 24px 0px; }

/* ================= *
*    Cards           *
*  ================= */

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

/* Card Colorful */
.card-colorful {
    padding: 24px 29px 32px 28px;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: var(--white);
    border-radius: 10px;
    background: var(--linear-1);
}

/* Card Primary */
.card-primary { 
    position: relative;  
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 10px;
}.card-icon { 
    position: absolute;
    top: -20px;
    left: 28px;
}
.card-content {
    display: flex;
    flex-direction: column;
    box-shadow: none;
}

.card-title { padding: 48px 29px 0px 28px; }
.card-body { padding: 14px 29px 0px 28px; }
.card-btn { padding: 24px 0px 32px 28px; }

/* ================= *
*    Footer          *
*  ================= */

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding: 36px 16px;
    background: var(--color-2);
}
.footer-logo {
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 3.52rem;
    color: var(--white);
}

/* ================= *
*    Media Queries   *
*  ================= */

@media (min-width: 768px) { 
    /* ================= *
    *    Hero            *
    *  ================= */

    .hero { align-items: start; }
    .hero-content { margin-top: 99px; width: 60%; }
    .hero-image-content { position: absolute; transform: translate(48%, -50%); }

    /* ================= *
    *    Cards           *
    *  ================= */

    .cards {
        margin-top: 158px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        row-gap: 52px;
    }

    /* Card Primary */
    .card-title { padding: 48px 0px 0px 32px; }
    .card-body { padding: 14px 29px 0px 32px; }
    .card-btn { padding: 24px 0px 32px 32px; }
}

@media (min-width: 1024px) {
    /* ================= *
    *    Hero            *
    *  ================= */

    .hero-content { margin-top: 178px; width: 457px; }
    .hero-image-content { position: absolute; transform: translate(50%, -85%); }
    .main-image { width: 891px; }

    /* ================= *
    *    Cards           *
    *  ================= */

    .cards {
        margin-top: 158px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        row-gap: 52px;
    }
    /* Card Primary */
    .card-primary { display: flex; border-radius: 15px; }
    .card-content { justify-content: space-between; }
    .card-title { padding: 48px 0px 0px 32px; }
    .card-body { padding: 14px 29px 0px 32px; }
    .card-btn { padding: 24px 0px 32px 32px; }

    /* ================= *
    *    Footer          *
    *  ================= */

    .footer-content { padding: 32px 165px; }
    .footer-logo {
        font-weight: 800;
        font-size: 2.8rem;
        line-height: 3.52rem;
        color: var(--white);
    }
}

@media (min-width: 1440px) {
    /* ================= *
    *    Main            *
    *  ================= */

    .container { width: 80vw; margin: 0px auto; }
    
    /* ================= *
    *    Hero            *
    *  ================= */

    .hero-content { margin-top: 178px; width: 457px; }
    .hero-image-content { position: absolute; transform: translate(61%, -80%); }
    .main-image { width: 991px; }
    .hero-title { padding: 0px 0px 29px 0px; }
    .hero-subtitle { padding: 0px 0px 40px 0px; }

    /* ================= *
    *    Cards           *
    *  ================= */

    .cards { margin-top: 200px; }
}

@media (min-width: 1600px) {
    /* ================= *
    *    Main            *
    *  ================= */
    .container { width: 1440px; margin: 0px auto; }

    /* ================= *
    *    Footer          *
    *  ================= */
    .footer-content { padding: 32px 230px; }
}