@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white-color: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --gray-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
}

.container {
    display: flex;
    justify-content: center;
    padding: 8.5rem;
}

.card {
    padding: 1.5rem 1rem 1rem;
    background-color: var(--white-color);
    border-radius: 2rem;
}

.image {
    margin: auto;
    background-image: url(./images/image-qr-code.png);
    width: 29rem;
    height: 29rem;
    background-size: cover;
    border-radius: 1rem;
}

.card h1 {
    padding: 2.5rem;
    width: 31rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-blue);
}

.card p {
    padding: 0rem 2.5rem 5rem;
    width: 31rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray-blue);
    text-align: center;
}